.list-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project {
    position: relative;
    flex: 0 0 30%;
    max-width: 30%;
    height: 200px;
    border: 5px solid var(--lighter-gray);
    border-radius: 5px;
    transition: var(--transition-sm);
    cursor: pointer;
}

.project::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: left;
    transition: var(--transition-lg);
}

.project:hover::after{
    background-color: rgba(0, 0, 0, 0.76);
    transform: scaleX(1);
    transform-origin: left;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:950px) {

.project {
    flex: 0 0 46%;
    max-width: 53%;
   
}

.contatct-me-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

}
@media (max-width: 768px) {
.cart {
    flex: 0 0 90%;
    max-width: 100%;
    }
.project {
    flex: 0 0 95%;
    max-width: 100%;
}

}